<div id="content" class="w-100" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container p-5" th:with="text=${#strings.capitalize(model.action)}">
        <h1 class="text-center text-blue2 font-weight-bold pb-4" th:text="|${text} Destination|"></h1>
        <form method="post" th:action="@{/{url}(url=${model.targetUrl})}" th:object="${model.bindingModel}">
            <fieldset th:disabled="${model.action == 'delete'}" }>
                <div class="form-row">
                    <th:block th:insert="fragments/forms/form-control"
                              th:with="type='text',label='Name',fieldName='name',labelClass='text-blue2',class='pr-2 col-sm-10 col-md-4'">
                    </th:block>
                    <th:block th:insert="fragments/forms/form-control"
                              th:with="type='number',label='Latitude',fieldName='latitude',labelClass='text-blue2',class='pr-2 col-sm-5 col-md-4',isDisabled=true">
                    </th:block>
                    <th:block th:insert="fragments/forms/form-control"
                              th:with="type='number',label='Longitude',fieldName='longitude',labelClass='text-blue2',class='pr-2 col-sm-5 col-md-4',isDisabled=true">
                    </th:block>
                </div>
                <div class="form-row">
                    <th:block th:insert="fragments/forms/form-control"
                              th:with="type='textarea',label='Description',fieldName='description',labelClass='text-blue2',class='pr-2 col-md-12 col-sm-10'">
                    </th:block>
                </div>
            </fieldset>

            <div hidden th:object="${model}">
                <input type="hidden" th:field="*{targetUrl}" th:value="*{targetUrl}">
            </div>

            <div class="clickable" data-toggle="modal" data-target="#modal-map">
                <label class="text-blue2 mr-2">Choose on map</label>
                <i class="fa fa-map-marker-alt text-blue1"></i>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-blue" th:value="${text}"/>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modal-map" tabindex="-1" role="dialog" aria-labelledby="map-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-blue2">Choose destination&rsquo;s location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="map" style="height: 400px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:src="@{/scripts/util/map-service.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    function openMap(center) {
        mapService.initMap('map', center, 9);
        mapService.map.addListener('click', event => {
            mapService.removeMarker();
            mapService.placeMarker(event.latLng, map);

            $('#latitude').val(event.latLng.lat);
            $('#longitude').val(event.latLng.lng);
        });
    }

    $('#modal-map').on('show.bs.modal', () => {
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(position => {
                openMap({lat: position.coords.latitude, lng: position.coords.longitude});
            })
        } else {
            openMap({lat: 0, lng:0});
        }
    })
</script>