<!--
<a th:href="@{/travels/{id}(id=${item.id})}" th:with="travelRequest=${item}">
    <h5 class="pl-3 text-blue2" th:text="${travel.name}"></h5>
    <div class="pl-3">
        <small class="text-muted" th:text="|Departure at ${#temporals.format(travel.departureTime)}|"></small>
    </div>
</a>-->

<div class="touch-hover container-fluid h-100" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row p-1 h-100" th:object="${item.user}">
        <div class="col-4">
            <img class="img-fluid" th:src="*{profilePictureLink}"/>
        </div>
        <div class="col-8 pl-1 d-flex align-items-center">
            <p class="text-blue1">
                <a class="text-blue2" th:href="@{/profile/{username}(username=*{username})}" th:text="*{fullName}"></a>
                 has requested to attend your travel
            </p>
        </div>
    </div>
</div>