<div class="container-fluid p-5" xmlns:th="http://www.thymeleaf.org">
    <div class="container w-100 bg-white p-4">
        <h1 class="text-center text-blue2 font-weight-bold pb-4" th:text="'Edit infromation'"></h1>
        <!--/*@thymesVar id="model" type="org.softuni.traveltogether.domain.models.binding.UserEditBindingModel"*/-->
        <div class="container-fluid justify-content-center d-flex">
            <form method="post" enctype="multipart/form-data" th:action="@{/profile/edit((${_csrf.parameterName})=(${_csrf.token}))}" th:object="${model}">
                <div class="form-row">
                    <th:block th:insert="fragments/forms/form-control"
                              th:with="type='text',label='First Name',fieldName='firstName',class='pr-2 col-sm-12 col-md-6',labelClass='text-blue2'">
                    </th:block>
                    <th:block th:insert="fragments/forms/form-control"
                              th:with="type='text',label='Last Name',fieldName='lastName',class='pl-2 col-sm-12 col-md-6',labelClass='text-blue2'">
                    </th:block>
                </div>

                <th:block th:insert="fragments/forms/form-control"
                          th:with="type='tel',label='Phone Number',fieldName='phoneNumber',labelClass='container text-center',class='p-0 col-sm-12',labelClass='text-blue2'">
                </th:block>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name="profilePictureFile" aria-describedby="inputGroupFileAddon01" accept="image">
                        <label class="custom-file-label text-truncate" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasGlobalErrors()}" th:text="${#strings.listJoin(#fields.globalErrors(), '<br/>')}">
                </div>

                <hr/>

                <div class="form-group">
                    <div class="d-flex justify-content-center btn-group">
                        <input type="submit" class="btn btn-blue mx-2" th:value="'Confirm'"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    $('.custom-file-input').on('change', function() {
        let fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
    });
</script>