<section th:fragment="most-recent-travels" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="map"></div>
    <div class="container-fluid p-3 bg-grey">
        <h3 class="ml-4">Most recent travels</h3>
        <div id="most-recent" class="justify-content-around d-flex pt-4 pb-4">
            <a class="travel-link col-sm-2 pl-0 pb-2">
                <div class="bg-white h-100">
                    <img class="img-fluid rounded travel-img h-50"/>
                    <div class="d-flex flex-column h-50">
                        <div class="p-2"><h6 class="travel-text text-center text-dark"></h6></div>
                        <div class="p-2"><p class="travel-desc text-dark"></p> </div>
                        <div class="mt-auto pl-3 pb-2"><small class="text-secondary travel-publisher"></small></div>
                    </div>
                </div>
            </a>
        </div>
        <a class="btn btn-lg btn-light border border-primary" th:href="@{/travels/all}">See all...</a>
    </div>
</section>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:src="@{/scripts/map/get-photos.js}"></script>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:src="@{/scripts/travel/get-most-recent.js}"></script>