<div class="container mt-3" th:fragment="travel-search" xmlns:th="http://www.thymeleaf.org">
    <form class="form-horizontal" method="post" th:action="@{/travels/find}">
        <div class="table">
            <table class="table table-bordered col-sm-12">
                <tbody>
                <tr>
                    <td>
                        <h6 class="h-25">From</h6>
                        <input name="from" class="no-border w-100" type="text"/>
                    </td>
                    <td>
                        <h6>To</h6>
                        <input name="to" class="no-border w-100" type="text"/>
                    </td>
                    <td>
                        <h6>When</h6>
                        <input name="when" class="no-border w-100" type="date"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg ">Search</button>
            </div>
        </div>
    </form>
</div>