.bg-resev {
    background-color: #0080FF;
}

.bg-grey {
    background-color: #FAFAFA;
}

.bg-grey2 {
    background-color: #F3F3F3;
}

.text-resev {
    color: #0080FF;
}

hr.thick{
    height: 2px;
}

hr.dark{
    color: #000;
    background-color: #000;
}

hr.resev{
    color: #0080FF;
    background-color: #0080FF;
}

#map {
    height: 100%;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

input.no-border, input.no-border:hover, input.no-border:focus, input.no-border:active {
    background: transparent;
    border: 0 none transparent;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}