<div xmlns:th="http://www.thymeleaf.org"
    class="jumbotron-fluid pt-5">

    <th:block th:include="fragments/travel/travel-search"  th:with="allDestinations=${model}"></th:block>

    <div hidden>
        <div id="map"></div>
        <th:block th:include="fragments/util/carousel"></th:block>
        <th:block th:include="fragments/travel/travels-row"></th:block>
    </div>

    <div class="container-fluid mt-5">
        <div id="all-travels"></div>

        <th:block th:include="fragments/util/pagination-bar"></th:block>
    </div>

</div>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:src="@{/scripts/map/get-photos.js}"></script>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:inline="javascript">
    pageService.setPageHandler(travelPageHandler);
</script>

