<div class="container-fluid p-5" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="model" type="org.softuni.traveltogether.domain.models.view.TravelCreateViewModel"*/-->
    <div class="container w-100 bg-white p-4" th:with="text=${#strings.capitalize(model.action) + ' Travel'}">
        <h1 class="text-center text-blue2 font-weight-bold pb-4" th:text="${text}"></h1>

        <form autocomplete="off" method="post" th:action="@{/{url}(url=${model.targetUrl})}"
              th:object="${model.bindingModel}">
            <fieldset th:disabled="${model.action == 'delete'}" }>

                <th:block th:insert="fragments/forms/form-control"
                          th:with="type='text', fieldName='from', label='Travel starting point',class='autocomplete w-100',labelClass='text-blue2'">
                </th:block>

                <th:block th:insert="fragments/forms/form-control"
                          th:with="type='text', fieldName='to', label='Travel ending point',class='autocomplete w-100',labelClass='text-blue2'">
                </th:block>

                <th:block th:insert="fragments/forms/form-control"
                          th:with="type='datetime-local',label='When are you going to departure',fieldName='departureTime',labelClass='text-blue2'">
                </th:block>

                <th:block th:insert="fragments/forms/form-control"
                          th:with="type='textarea',label='Description',fieldName='description',labelClass='text-blue2'">
                </th:block>
            </fieldset>

            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}" />

            <div hidden th:object="${model}">
                <input type="hidden" th:field="*{targetUrl}" th:value="*{targetUrl}">
            </div>

            <div th:if="${#strings.equals(#strings.toLowerCase(model.action), 'delete') == false}"
                class="mt-1">
                <a class="text-blue1" th:href="@{/destinations/create}">Can&rsquo;t find your destination? Click here.</a>
            </div>

            <div class="form-group mt-4">
                <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-blue" th:value="${text}"/>
                </div>
            </div>
        </form>
    </div>
</div>
<script xmlns:th="http://www.thymeleaf.org" th:src="@{/scripts/util/autocomplete.js}"></script>
<script xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
    autocomplete(document.getElementById("from"), [[${model.allDestinations}]]);
    autocomplete(document.getElementById("to"), [[${model.allDestinations}]]);
</script>