<div id="content" class="jumbotron bg-white" xmlns:th="http://www.w3.org/1999/xhtml">

    <h1 class="text-center text-blue2" th:text="|Welcome back, ${#authentication.principal.username}|"></h1>

    <div class="container w-100">
        <div class="row d-flex justify-content-around">
            <th:block th:include="fragments/scrollable-box"
                      th:with="boxTitle='My travels',altText='No published travels',collection=${model.myTravels},template='fragments/travel/travel-link-content'">
            </th:block>
            <th:block th:include="fragments/scrollable-box"
                      th:with="boxTitle='Attended travels',altText='No attended travels',collection=${model.attendedTravels},template='fragments/travel/travel-link-content'">
            </th:block>
        </div>
    </div>

    <th:block th:include="fragments/travel/most-recent-travels"></th:block>

</div>