<div id="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <section>
        <div class="jumbotron-fluid bg-white mt-5">
            <div class="container-fluid">
                <div class="mb-2">
                    <h1 class="text-blue2">Welcome to Travel Together</h1>
                    <h3 class="pt-1 text-blue2"><a th:href="@{/register}" class="text-blue1">Take part in</a> our program to share travelling experience with great new people.</h3>
                </div>
                <div class="container">
                    <div class="d-inline-block justify-content-around container">
                        <img class="img-fluid" title="TravelTogether" src="/assets/theme.png" alt="Theme"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid bg-blue1">
            <div class="container">
                <div class="row w-100 d-flex justify-content-around">
                    <div class="p-3 col-xs-8 col-sm-4 d-flex flex-column align-items-center">
                        <img src="/assets/route.png" alt="route" width="80" height="80"/>
                        <p class="text-light text-center">Reach your desired destination</p>
                    </div>
                    <div class="p-3 col-xs-8 col-sm-4 d-flex flex-column align-items-center">
                        <img src="/assets/save.png" alt="save" width="80" height="80"/>
                        <p class="text-light">Save money for transport</p>
                    </div>
                    <div class="p-3 col-xs-8 col-sm-4 d-flex flex-column align-items-center">
                        <img src="/assets/share.png" alt="share" width="120" height="80"/>
                        <p class="text-light">Share your travel with new people</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <th:block th:include="fragments/travel/most-recent-travels"></th:block>
</div>


