<div class="row travel-row d-flex justify-content-around pb-4 pl-5 pr-5">
    <div class="col-sm-5 col-md-4 col-lg-2 travel-body rounded bg-yellow pt-3 mr-1 mt-4">
        <a class="travel-link h-100">
            <div class="h-50 carousel-container">
            </div>
            <div class="container-fluid h-40 d-flex flex-column justify-content-around bg-grey2 rounded mt-4">
                <div><h5 class="travel-text text-center text-blue2"></h5></div>
                <div><h6 class="travel-start text-left text-blue2"></h6></div>
                <div><p class="travel-desc text-blue2 text-left block-with-text mb-0"></p></div>
                <div>
                    <small class="text-secondary travel-publisher"></small>
                </div>
            </div>
        </a>
    </div>
</div>
<script xmlns:th="http://www.w3.org/1999/xhtml" th:src="@{/scripts/travel/fill-travel-row.js}"></script>